<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facility Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
    background-image: url('../images/home.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-color: aqua;
}

        .container {
            background-color: rgba(255, 255, 255, 0.8); 
            padding: 20px; 
            border-radius: 10px; 
        }
    </style>
</head>

<body>
    <div class="container mt-5 mx-auto">
    <h1 class="text-center mb-4">Welcome to Facility Management System</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        Log in as Guest to view the facility
                    </p>
                    <a href="http://localhost:8080/facility/templates/facility.html" class="btn btn-primary btn-block">Guest</a>
                    <hr>
                    <p class="card-text">
                        Log in as an admin to manage the facility
                    </p>
                    <a href="http://localhost:8080/facility/templates/login.html" class="btn btn-primary btn-block">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
